<style>
  #shopify-section-{{section.id}} .section-mt {
    margin-top: {{section.settings.mobile_margin_top}}px;
	}
  
    #shopify-section-{{section.id}} .section-mb {
    margin-bottom: {{section.settings.mobile_margin_bottom}}px;
	}
  
  @media(min-width: 767px) {
	      #shopify-section-{{section.id}} .section-mt {
    margin-top: {{section.settings.desktop_margin_top}}px;
	}
    
     #shopify-section-{{section.id}} .section-mb {
    margin-bottom: {{section.settings.desktop_margin_bottom}}px;
	}

}
</style>

<!-- What We Do  -->
  <div style="background:{{section.settings.bg_color}}" class="section-mt section-mb">
    <div class="container mx-auto px-4 md:px-0">
      <div data-aos="down">
        <h2 class="text-4xl font-bold brand-primary">{{section.settings.section_title}}</h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-4 mt-8 gap-x-12 gap-y-4 lg:gap-20">
          {% for block in section.blocks %}
        			{% if block.type == "Text"%}
          <div data-aos="up" data-aos-delay="{{forloop.index | times:150}}" class="bg-white px-4 py-4">
                <div class="block w-24 h-32 mx-auto relative">
                  <img id=""
                    class="w-full h-full object-contain lazyload"
                    src="{{ block.settings.block_icon | img_url: '1200x', scale: 2 }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ block.settings.block_icon.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.block_icon.alt | escape }}">
                  </div>
            <h4 class="font-bold text-lg text-center">{{block.settings.block_title}}</h4>
            
            <div class="mt-4">{{block.settings.block_content}}</div>
          </div>
                {%endif%}
          {% endfor %}
      </div>
    </div>
  </div>

{% schema %}
  {
    "name": "Icon + Text",
    "settings": [
	{
		"type":"text",
		"id":"section_title",
		"label":"Section Title"
	},
	{
   "type":      "color",
   "id":        "bg_color",
   "label":     "Background Color",
   "default":   "#fff"
	},
{
    "type": "range",
    "id": "mobile_margin_top",
    "min": 8,
    "max": 160,
    "step": 8,
    "unit": "px",
    "label": "Mobile Top Spacing",
	"default":8
},
{
    "type": "range",
    "id": "mobile_margin_bottom",
    "min": 8,
    "max": 160,
    "step": 8,
    "unit": "px",
    "label": "Mobile Bottom Spacing",
	"default":8
},
{
    "type": "range",
    "id": "desktop_margin_top",
    "min": 8,
    "max": 160,
    "step": 8,
    "unit": "px",
    "label": "Desktop Top Spacing",
	"default":8
},
{
    "type": "range",
    "id": "desktop_margin_bottom",
    "min": 8,
    "max": 160,
    "step": 8,
    "unit": "px",
    "label": "Desktop Bottom Spacing",
	"default":8
}
	],
	"blocks": [
	{
      "type": "Text",
      "name": "Text + Icon Block",
	  "limit": 4,
      "settings": [
          {
              "type": "text",
              "id": "block_title",
              "label": "Block Title"
          },
          {
              "type": "textarea",
              "id": "block_content",
              "label": "Block Content"
          },
          {
              "type": "image_picker",
              "id": "block_icon",
              "label": "Block Icon"
          }
      ]
  }
]
  }
{% endschema %}

{% stylesheet %}
{% endstylesheet %}

{% javascript %}
{% endjavascript %}
