{% assign article = articles[section.settings.feature_article] %}

<div class="page-width max-w-none py-8">
    <div class="flex items-center gap-4">
        <h2 id="{{section.settings.feature_section_heading}}" class="bg-primary text-white inline-block py-2 px-4 text-xs rounded-lg tracking-normal whitespace-no-wrap m-0 w-48 text-center">{{section.settings.feature_section_heading}}</h2>
        <span class="h-px bg-gray-700 w-full"></span>
    </div>
</div>

<div class="page-width max-w-none">
    <div class="flex gap-8">
        <div class="flex-initial w-7/12 bg-gray-200">
            <div class="block aspect-16-9"></div>
        </div>
        <div class="flex-initial w-5/12 flex flex-col self-center">
            <h3 class="text-primary text-xl">{{article.title}}</h3>
            <p>{{article.published_at | time_tag: format: 'date' }}</p>
            <p>{{article.excerpt}}</p>
            <a href="{{article.url}}">READ MORE →</a>
        </div>
    </div>
</div>


{%- comment -%}
{{article.image.src}}
{%- endcomment -%}



{% schema %}

{
    "name": "Feature Blog Article",
    "settings": [
        {
            "type": "text",
            "id": "feature_section_heading",
            "label": "Feature Section Heading"
        }, {
            "type": "article",
            "id": "feature_article",
            "label": "Feature article"
        }
    ]
}

{% endschema %}