<div class="{{section.settings.spacing}}">
    <div class="container mx-auto px-4 md:px-0">
        <h2 class="text-2xl text-primary md:text-4xl">{{section.settings.section_heading}}</h2>
    </div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-x-12 items-center container mx-auto bg-grey px-6 py-6 mt-4">
      <div class="block aspect-3-2 relative w-full overflow-hidden bg-white">
        <img id="" class="absolute w-full h-full object-contain lazyload" src="{{ section.settings.feature_row_image | img_url: '1200x', scale: 2 }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ section.settings.feature_row_image.aspect_ratio }}" data-sizes="auto" alt="{{ section.settings.feature_row_image.alt | escape }}">
      </div>
      <div>
          {% unless section.settings.product_logo == blank %}
          <img class="w-1/2 mt-4 md:mt-0" src="{{section.settings.product_logo | img_url:'400x', scale:2}}" alt="">
          {% endunless %}
        {% unless section.settings.feature_row_title == blank %}
        <h2 class="font-bold {{section.settings.text_size}} mt-4 md:mt-0">{{section.settings.feature_row_title}}</h2>
        {% endunless %}
        <p class="mt-4">{{section.settings.feature_row_content}}</p>
</div>

    </div>
  </div>

  {% schema %}
  {
      "name": "Feature Product",
      "settings": [
      {
          "type": "text",
          "id": "section_heading",
          "label": "Section Heading"
      },
      {
        "type": "text",
        "id": "feature_row_title",
        "label": "Feature Row Title"
      },
      {
        "type": "select",
        "id": "text_size",
        "label": "Feature Title Size",
        "options": [
            {
                "value": "text-base",
                "label": "base"
            }, 
            {
                "value": "text-lg",
                "label": "lg"
            }, 
            {
                "value": "text-xl",
                "label": "xl"
            }, 
            {
                "value": "text-2xl",
                "label": "2xl"
            },
            {
                "value": "text-3xl",
                "label": "3xl"
            },
            {
                "value": "text-4xl",
                "label": "4xl"
            },
            {
                "value": "text-5xl",
                "label": "5xl"
            },
            {
                "value": "text-6xl",
                "label": "6xl"
            }
        ]
    },
      {
        "type": "textarea",
        "id": "feature_row_content",
        "label": "Feature Row Content"
      },
      {
        "type": "image_picker",
        "id": "feature_row_image",
        "label": "Feature Row Image"
      },
      {
          "type": "image_picker",
          "id": "product_logo",
          "label": "Product Logo"
      },
      {
          "type": "header",
          "content": "Style"
      },
      {
        "type": "select",
        "id": "spacing",
        "label": "Spacing",
        "options": [
            {
                "value": "py-16",
                "label": "sm"
            }, {
                "value": "py-20",
                "label": "md"
            }, {
                "value": "py-32",
                "label": "lg"
            }, {
                "value": "py-40",
                "label": "xl"
            }
        ]
    }
      ],
      "presets": [
      {
        "category": "Products",
        "name": "Feature Product"
  }
  ]
}
  {% endschema %}