{% assign article = articles[section.settings.feature_article] %}
{% if section.settings.feature_article == blank %}
    {% assign article = blog.articles[0] %}
{% endif %}

    

<div class="page-width max-w-none py-8">
    <div class="flex items-center gap-4">
        <h2 id="{{section.settings.feature_section_heading}}" class="bg-primary text-white inline-block py-2 px-4 text-xs rounded-lg tracking-normal whitespace-no-wrap m-0 w-48 text-center">{{section.settings.feature_section_heading}}</h2>
        <span class="h-px bg-gray-700 w-full"></span>
    </div>

    <div class="flex flex-col md:flex-row gap-8 mt-6">
        <div class="flex-initial md:w-7/12">
            <div class="block aspect-16-9 relative w-full overflow-hidden">
                <img id=""
                  class="absolute w-full h-full object-cover lazyload" 
                  src="{{ article.image | img_url: '1200x', scale: 2 }}"
                  data-src="{{ img_url }}"
                  data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                  data-aspectratio="{{ article.image.aspect_ratio }}"
                  data-sizes="auto"
                  alt="{{ article.image.alt | escape }}">
            </div>
        </div>
        <div class="flex-initial md:w-5/12 flex flex-col self-center">
            <h3 class="text-primary text-4xl text-primary font-semibold">{{article.title}}</h3>
            <p class="font-semibold">{{article.published_at | time_tag: format: 'date' }}</p>
            <p>{{article.excerpt}}</p>
            <a class="font-semibold" href="{{article.url}}">READ MORE →</a>
        </div>
    </div>
</div>

   



{%- comment -%}
{{article.image.src}}
{%- endcomment -%}



{% schema %}

{
    "name": "Feature Blog Article",
    "settings": [
        {
            "type": "text",
            "id": "feature_section_heading",
            "label": "Feature Section Heading"
        }, {
            "type": "article",
            "id": "feature_article",
            "label": "Feature article",
            "info": "Set a feature article to display it on the page"
        }
    ]
}

{% endschema %}