<div class="bg-green-400" style="background-image: {{section.settings.hero_image | img_url: '1920x' scale:'2'}}">
    <div class="container mx-auto py-32 md:py-64">
      <h1 class="font-bold text-5xl text-white">{{section.settings.hero_text}}</h1>
    </div>
  </div>
  <!-- First Row: Our Story -->
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center container mx-auto bg-gray-200 px-6 py-6 my-20">
      <div class="block aspect-3-2 relative w-full overflow-hidden">
        <img id="" class="absolute w-full h-full object-cover lazyload" src="https://source.unsplash.com/random?skateboard" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ article.image.aspect_ratio }}" data-sizes="auto" alt="{{ article.image.alt | escape }}">
      </div>
      <div>
        <h2 class="text-4xl font-bold">{{section.settings.row_one_title}}</h2>
        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua</p>
      </div>

    </div>
  </div>

  <!-- What We Do  -->
  <div class="bg-gray-200 py-24">
    <div class="container mx-auto px-4 md:px-0">
      <div>
        <h2 class="text-4xl font-bold">What We Do</h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8 gap-12 lg:gap-20">
        <div class="bg-white px-4 py-4">
          <h4 class="font-bold text-lg">Research</h4>
          <p class="mt-4">Lacinia pharetra congue efficitur sollicitudin ut faucibus netus orci, quisque purus conubia dapibus porttitor varius semper accumsan, placerat aenean pretium proin laoreet justo finibus.</p>
        </div>
        <div class="bg-white px-4 py-4">
          <h4 class="font-bold text-lg">Product Development</h4>
          <p class="mt-4">Our suite of products will target common equine conditions and ailments that have been proven to be aided by cannabis in humans and other animal species. All of our products will be of medical quality, these aren’t trendy health supplements. Products will focus on calming and anxiety, pain and inflammation, exercise and surgical recovery, gut health, and skin conditions and wounds</p>
        </div>
        <div class="bg-white px-4 py-4">
          <h4 class="font-bold text-lg">White Label & Licensing</h4>
          <p class="mt-4">Lacinia pharetra congue efficitur sollicitudin ut faucibus netus orci, quisque purus conubia dapibus porttitor varius semper accumsan, placerat aenean pretium proin laoreet justo finibus.</p>
        </div>
      </div>
    </div>

  </div>

  <!--  Second Row: Our Products  -->
  <div>
    <div class="grid grid-cols-1 md:grid-cols-2 gap-12 items-center container mx-auto bg-gray-200 px-6 py-6 my-20">
      <div>
        <h2 class="text-4xl font-bold">Our Story</h2>
        <p class="mt-4">Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua. Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua Lorem ipsum dolor sit amet, consectetur adipiscing elit, sed
          do eiusmod tempor incididunt ut labore et dolore magna
          aliqua</p>
      </div>
      <div class="block aspect-3-2 relative w-full overflow-hidden">
        <img id="" class="absolute w-full h-full object-cover lazyload" src="https://source.unsplash.com/random?skateboard" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ article.image.aspect_ratio }}" data-sizes="auto" alt="{{ article.image.alt | escape }}">
      </div>

    </div>
  </div>


{% schema %}
{
  "name": "About",
  "settings": [
    {
      "type": "text",
      "id": "hero_text",
      "label": "Hero Title"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "row_one_title",
      "label": "Row One Title"
    },
    {
      "type": "textarea",
      "id": "row_one_content",
      "label": "Row One Content"
    },
    {
      "type": "image_picker",
      "id": "row_one_image",
      "label": "Row One Image"
    },
    {
      "type": "text",
      "id": "three_col_title",
      "label": "3 Column Title"
    },
    {
      "type": "text",
      "id": "row_two_title",
      "label": "Row Two Title"
    },
    {
      "type": "textarea",
      "id": "row_two_content",
      "label": "Row Two Content"
    },
    {
      "type": "image_picker",
      "id": "row_two_image",
      "label": "Row Two Image"
    }
  ],
}
{% endschema %}