<div class="bg-brand-primary cover bg-blend-multiply bg-center px-4 md:px-0" style="background-image: url({{section.settings.hero_image | img_url:'1920x', scale:2}})">
    <div data-aos="left" class="container mx-auto py-32 md:py-64">
      <h1 class="font-bold text-5xl text-white">{{section.settings.hero_text}}</h1>
    </div>
  </div>
  <!-- First Row: Our Story -->
  <div class="px-4 md:px-0 my-8 md:my-0">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-x-12 md:gap-y-0 items-center container mx-auto bg-grey px-6 py-6 my-0 md:my-20">
      <div data-aos="up" data-aos-delay="200" class="block aspect-3-2 relative w-full overflow-hidden">
        <img id="" class="absolute w-full h-full object-cover lazyload" src="{{ section.settings.row_one_image | img_url: '1200x', scale: 2 }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ section.settings.row_one_image.aspect_ratio }}" data-sizes="auto" alt="{{ section.settings.row_one_image.alt | escape }}">
      </div>
      <div data-aos="down">
        <h2 class="text-4xl font-bold">{{section.settings.row_one_title}}</h2>
        <p class="mt-4">{{section.settings.row_one_content}}</p>
      </div>

    </div>
  </div>

  <!-- What We Do  -->
  <div class="bg-grey py-24">
    <div class="container mx-auto px-4 md:px-0">
      <div data-aos="down">
        <h2 class="text-4xl font-bold brand-primary">{{section.settings.three_col_title}}</h2>
      </div>

      <div class="grid grid-cols-1 md:grid-cols-2 lg:grid-cols-3 mt-8 gap-x-12 gap-y-4 lg:gap-20">
          {% for block in section.blocks %}
          <div data-aos="up" data-aos-delay="{{forloop.index | times:150}}" class="bg-white px-4 py-4">
                <div class="block w-24 h-32 mx-auto relative">
                  <img id=""
                    class="w-full h-full object-contain lazyload"
                    src="{{ block.settings.block_icon | img_url: '1200x', scale: 2 }}"
                    data-src="{{ img_url }}"
                    data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]"
                    data-aspectratio="{{ block.settings.block_icon.aspect_ratio }}"
                    data-sizes="auto"
                    alt="{{ block.settings.block_icon.alt | escape }}">
                  </div>
            <h4 class="font-bold text-lg">{{block.settings.block_title}}</h4>
            <p class="mt-4">{{block.settings.block_content}}</p>
          </div>
          {% endfor %}
      </div>
    </div>

  </div>

  <!--  Second Row: Our Products  -->
  <div class="px-4 md:px-0 my-8 md:my-0">
    <div class="grid grid-cols-1 md:grid-cols-2 gap-y-6 md:gap-x-12 md:gap-y-0 items-center container mx-auto bg-grey px-6 py-6 my-0 md:my-20">
      <div data-aos="down" class="row-start-2 md:row-start-1">
        <h2 class="text-4xl font-bold">{{section.settings.row_two_title}}</h2>
        <p class="mt-4">{{section.settings.row_two_content}}</p>
      </div>
      <div data-aos="up" data-aos-delay="200" class="block aspect-3-2 relative w-full overflow-hidden row-start-1 md:row-start-1">
        <img id="" class="absolute w-full h-full object-cover lazyload" src="{{ section.settings.row_two_image | img_url: '1200x', scale: 2 }}" data-src="{{ img_url }}" data-widths="[180, 360, 540, 720, 900, 1080, 1296, 1512, 1728, 2048]" data-aspectratio="{{ section.settings.row_two_image.aspect_ratio }}" data-sizes="auto" alt="{{ section.settings.row_two_image.alt | escape }}">
      </div>

    </div>
  </div>


{% schema %}
{
  "name": "About",
  "settings": [
    {
      "type": "text",
      "id": "hero_text",
      "label": "Hero Title"
    },
    {
      "type": "image_picker",
      "id": "hero_image",
      "label": "Hero Image"
    },
    {
      "type": "text",
      "id": "row_one_title",
      "label": "Row One Title"
    },
    {
      "type": "textarea",
      "id": "row_one_content",
      "label": "Row One Content"
    },
    {
      "type": "image_picker",
      "id": "row_one_image",
      "label": "Row One Image"
    },
    {
      "type": "text",
      "id": "three_col_title",
      "label": "3 Column Title"
    },
    {
      "type": "text",
      "id": "row_two_title",
      "label": "Row Two Title"
    },
    {
      "type": "textarea",
      "id": "row_two_content",
      "label": "Row Two Content"
    },
    {
      "type": "image_picker",
      "id": "row_two_image",
      "label": "Row Two Image"
    }
  ],
  "max_blocks": 3,
  "blocks": [
  {
      "type": "Text",
      "name": "Text Block",
      "settings": [
          {
              "type": "text",
              "id": "block_title",
              "label": "Block Title"
          },
          {
              "type": "textarea",
              "id": "block_content",
              "label": "Block Content"
          },
          {
              "type": "image_picker",
              "id": "block_icon",
              "label": "Block Icon"
          }
      ]
  }
  ]
  
}
{% endschema %}